.investor{
justify-content: space-around;
background-color: hotpink;
color: white;
height: 500px;
}
.investors-list{
gap: 100px;

}
.container-investor{
    margin-top: 100px;
    margin-left: 80px;
}
.icons{
color: green;
}
ul li{
    list-style: none;
}